page-chatind {
    .item-md.item-block .item-inner {
        border-bottom: none !important;
    }
    .item-ios.item-block .item-inner{
        border-bottom: none !important;
    }
    .toolbar-md{
        max-height: 80px
    }
    .toolbar-ios{
        max-height: 80px
    }
}
